.el-submenu .el-menu-item {
    font-size: 14px;
    padding-left: 50px !important;
    &.is-active { background-color: rgba(245, 108, 108, 0.2) !important; }
}
// 修改一级菜单样式
li.el-submenu {
    &.is-active.is-opened .el-submenu__title { background-color: $mainCcolor !important; }
}

.close {
    .el-submenu {
        &.is-opened {
            > .el-submenu__title {
                background-color: $mainCcolor !important;
            }
        }
    }
}
.el-menu--vertical {
    .el-menu { background-color: $mainCcolor !important; }
    .el-menu-item { line-height: 56px; }
    .el-menu-item:hover {
        background-color: $mainCcolor !important;
    }
}