@import "./config.scss";
@import "./svg.scss";
@import "./elementui.scss";
@import "./normalize.scss";
.pull-left { float: left; }
.pull-right { float: right; }

.black-space-30 { height: 30px; }

@for $i from 1 through 110 {
    .margin-left-#{$i} { margin-left:(1px * $i); }
}